<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="UrlList" type="ItemStockChecker.UrlRetrieverSection, ItemStockChecker"/>
    </configSections>
    <UrlList>
        <urls>
            5950X
            <add name="https://www.amazon.com/AMD-Ryzen-5950X-32-Thread-Processor/dp/B0815Y8J9N?ref_=ast_sto_dp"></add>
            <add name="https://www.bestbuy.com/site/amd-ryzen-9-5950x-4th-gen-16-core-32-threads-unlocked-desktop-processor-without-cooler/6438941.p?skuId=6438941"></add>
            <add name="https://www.bhphotovideo.com/c/product/1598372-REG/amd_100_100000059wof_ryzen_9_5950x_3_4.html"></add>
            <add name="https://www.microcenter.com/product/630282/amd-ryzen-9-5950x-vermeer-34ghz-16-core-am4-boxed-processor"></add>
            <add name="https://www.newegg.com/amd-ryzen-9-5950x/p/N82E16819113663?Item=N82E16819113663&amp;Tpk=19-113-663"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4207317"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4211023"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199097"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199031"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199825"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210828"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199061"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210832"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210827"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210830"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4190569"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4190567"></add>


            5600X
            <add name="https://www.bhphotovideo.com/c/product/1598377-REG/amd_100_100000065box_ryzen_5_5600x_3_7.html"></add>
            <add name="https://www.amazon.com/AMD-Ryzen-5600X-12-Thread-Processor/dp/B08166SLDF?ref_=ast_sto_dp"></add>
            <add name="https://www.bestbuy.com/site/amd-ryzen-5-5600x-4th-gen-6-core-12-threads-unlocked-desktop-processor-with-wraith-stealth-cooler/6438943.p?skuId=6438943"></add>
            <add name="https://www.microcenter.com/product/630285/amd-ryzen-5-5600x-vermeer-37ghz-6-core-am4-boxed-processor-with-wraith-stealth-cooler"></add>
            <add name="https://www.newegg.com/amd-ryzen-5-5600x/p/N82E16819113666?Item=N82E16819113666&amp;Tpk=19-113-666"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4207323"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4207311"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4190503"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4207495"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210776"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199041"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199040"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4208034"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210858"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210856"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4208080"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199103"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210857"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199057"></add>



        </urls>
    </UrlList>
    <appSettings>
        <!--TMobile-->
        <add key="TMobilePhoneNumber" value="xxx"/>
        <add key="TMobileEnabled" value="false"/>
        <add key="TMobileFormat" value="{0}@tmomail.net"/>

        <!--Verizon-->
        <add key="VerizonPhoneNumber" value="xxx"/>
        <add key="VerizonEnabled" value="false"/>
        <add key="VerizonFormat" value="{0}@vtext.com"/>

        <add key="YourEmail" value ="xx@gmail.com"/>
        <add key="AppPassword" value="xxxxx"/> <!--see to how to generate this https://support.google.com/accounts/answer/185833?p=InvalidSecondFactor&visit_id=637421952488948393-2531523670&rd=1-->

        <add key="MicroCenterStore" value="045"/> <!--This is a cookie value. If you want to find out what yours is, select your store on the microcenter website and look at the microcenter store cookie value-->
        
        <add key="PageRefreshTime" value="5000"/> <!--ms-->
        <add key="CoolDownTime" value="30"/> <!--min-->
    </appSettings>
</configuration>