<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="UrlList" type="ItemStockChecker.UrlRetrieverSection, ItemStockChecker"/>
    </configSections>
    <UrlList>
        <urls>
            <!--5950X-->
            <add name="https://www.amazon.com/AMD-Ryzen-5950X-32-Thread-Processor/dp/B0815Y8J9N?ref_=ast_sto_dp"></add>
            <add name="https://www.bestbuy.com/site/amd-ryzen-9-5950x-4th-gen-16-core-32-threads-unlocked-desktop-processor-without-cooler/6438941.p?skuId=6438941"></add>
            <add name="https://www.bhphotovideo.com/c/product/1598372-REG/amd_100_100000059wof_ryzen_9_5950x_3_4.html"></add>
            <add name="https://www.microcenter.com/product/630282/amd-ryzen-9-5950x-vermeer-34ghz-16-core-am4-boxed-processor"></add>
            <add name="https://www.newegg.com/amd-ryzen-9-5950x/p/N82E16819113663?Item=N82E16819113663&amp;Tpk=19-113-663"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4207317"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4211023"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199097"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199031"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199825"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210828"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199061"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210832"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210827"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210830"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4190569"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4190567"></add>


            <!--5600X-->
            <add name="https://www.bhphotovideo.com/c/product/1598377-REG/amd_100_100000065box_ryzen_5_5600x_3_7.html"></add>
            <add name="https://www.amazon.com/AMD-Ryzen-5600X-12-Thread-Processor/dp/B08166SLDF?ref_=ast_sto_dp"></add>
            <add name="https://www.bestbuy.com/site/amd-ryzen-5-5600x-4th-gen-6-core-12-threads-unlocked-desktop-processor-with-wraith-stealth-cooler/6438943.p?skuId=6438943"></add>
            <add name="https://www.microcenter.com/product/630285/amd-ryzen-5-5600x-vermeer-37ghz-6-core-am4-boxed-processor-with-wraith-stealth-cooler"></add>
            <add name="https://www.newegg.com/amd-ryzen-5-5600x/p/N82E16819113666?Item=N82E16819113666&amp;Tpk=19-113-666"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4207323"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4207311"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4190503"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4207495"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210776"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199041"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199040"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4208034"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210858"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210856"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4208080"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199103"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4210857"></add>
            <add name="https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4199057"></add>


        </urls>
    </UrlList>
    <appSettings>
        <!--TMobile-->
        <add key="TMobilePhoneNumber" value="xxx"/>
        <add key="TMobileEnabled" value="true"/>
        <add key="TMobileFormat" value="{0}@tmomail.net"/>

        <!--Verizon-->
        <add key="VerizonPhoneNumber" value="xxx"/>
        <add key="VerizonEnabled" value="true"/>
        <add key="VerizonFormat" value="{0}@vtext.com"/>

        <add key="YourEmail" value ="xx@gmail.com"/>
        <add key="AppPassword" value="xxxxx"/> <!--see to how to generate this https://support.google.com/accounts/answer/185833?p=InvalidSecondFactor&visit_id=637421952488948393-2531523670&rd=1-->

        <add key="MicroCenterStore" value="045"/> <!--This is a cookie value. If you want to find out what yours is, select your store on the microcenter website and look at the microcenter store cookie value-->

        <add key="BestBuyCookie" value="UID=85434956-5e3c-4583-91e2-d7fedf5b5746; pst2=7|N; physical_dma=613; customerZipCode=55101|N; ltc=%20; oid=588683568; vt=02b44475-31fc-11eb-9df3-0ac1a019cf2d; _abck=7FF2CCE4EB2C9F1E8DD34CBDD05D1F29~-1~YAAQfj4iF1alqAt2AQAArNZGEgRCIzuQziXtaORrpyBm6DvK3rcAhK1fL0eOjxZD/BV9dp/vP+AO5ToFGtuaE+niNW2hgnZtOvUojxvl9jJfcxEezQN1ey2f8pRaYEabyw60B4MOKqRwp6TiiSLkkbNikycCcGk/kWZv0B1yf1tgX7mOxl67s0iBogiZ+vtKmdU3cA3eNayeluZLS/FdIA2Y+XJjPJyGh4PdcWkTj5HiwAB1w5/LOMbYXVnw972Z37euY4xH+IZxCLkd/v4z0VUFq8sRPp1RcXqq8AaldHOqmSUBixTWJiCTow==~-1~-1~-1; bm_sz=11488B4FCFBC8492D8A97A410860262E~YAAQfj4iF1WlqAt2AQAArNZGEgm06yZWd0SD+sEaHOl6pZVGjeRZietJkVuIWXj5sFtoUhlJRcTHsR3J89UqI56fCKLRPus/Z03O8Olv11n7dRTknG4XO6SkO/ZVJCcrwAk8bNJ6YgTxHxaZz2FgCg+mMkQAotKHyFpzE7IzS7uG9Bxq/phVsOtK2ogwfFahUA==; bby_rdp=l; bby_cbc_lb=p-browse-w; CTT=f928481d85b30ab1ae6caae5171678ad; SID=ed48b166-ef00-4cd8-8143-21c7cf6827e4"/>
        
        <add key="PageRefreshTime" value="5000"/> <!--ms-->
        <add key="CoolDownTime" value="30"/> <!--min-->
    </appSettings>
</configuration>